<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @grade.course %>
</p>

<p>
  <strong>Name:</strong>
  <%= @grade.name %>
</p>

<p>
  <strong>Assignment:</strong>
  <%= @grade.assignment %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @grade.grade %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
